<div align="center">
    <h2>
        Please choose a conference or create a new one
    </h2>
</div>
<div align="center">
    <select id="conferencesSelection">
        <option value="">--select a conference--</option>
        <% for (key in conferences) { %>
            <% if(conferences[key].attributes._key == currentConferenceKey) { %>
                <option selected="selected" value="<%=conferences[key].attributes._key%>"><%=conferences[key].attributes.conference%></option>
            <% } else { %>
                <option value="<%=conferences[key].attributes._key%>"><%=conferences[key].attributes.conference%></option>
            <% } %>
        <% } %>
    </select>
</div>
<div align="center">
    <button id="newConferenceButton" class="btn btn-success">New Conference</button>
</div>
