<select id="conferencesSelection">
    <option value="">--select a conference--</option>
    <% for (key in conferences) { %>
        <option value="<%=conferences[key].attributes._key%>"><%=conferences[key].attributes.conference%></option>
    <% } %>
</select>
<!--<button id="newConferenceButton" class="btn btn-success pull-left">New Conference</button>-->
