    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" id="newConferenceName"></input></td>
        </tr>
    </table>
    <input type="submit" id="createNewConferenceButton" value="create" />
